body {
  background-color: #4082d6;
  font: normal 15px Arial, sans-serif;
}

#title {
  text-align: center;
  color: white;
}

section {
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}

div {
  margin: 10px 0px;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: white;
  font-style: italic;
}
