body {
  font: normal 20px Arial, sans-serif;
  background-color: rgb(71, 95, 201);
}

#title {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
}

div {
  margin: 10px 0px;
}

footer {
  color: white;
  padding: 15px 0px;
  text-align: center;
}
